---
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import ContentWithBackground from '../components/ContentWithBackground.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts'
import BlogPostPreviewList from '../components/BlogPostsPreviewList.astro'
import BrevoSubscribeStyles from '../components/BrevoSubscribeStyles.astro'
import BrevoMiniForm from '../components/BrevoMiniForm.astro'
import BrevoScripts from '../components/BrevoScripts.astro'

const INDEX_PAGE_BLOG_POSTS_LIMIT = 4
const MAX_TITLE_LENGTH = 50
const PAGE_TITLE = `${SITE_TITLE}`
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={PAGE_TITLE} description={SITE_DESCRIPTION} />
        <BrevoSubscribeStyles />
    </head>
    <body>
        <Header />
        <ContentWithBackground background="/bus-9.jpg">
            <main class="pt-12 max-w-6xl flex flex-row">
                <div class="mr-4 py-8 content-center">
                    <h2
                        class="font-fraunces m-0 text-3xl font-bold mb-2 text-white py-6"
                    >
                        Welcome to Strong Towns Vancouver. We're dedicated to
                        making Vancouver strong and resilient.
                    </h2>
                    <p class="py-6 text-base">
                        Here, you'll find thought-provoking articles,
                        information about upcoming events, and resources to aid
                        in understanding and implementing our mission. We're
                        glad you're here and can't wait for you to join us on
                        this journey.
                    </p>
                </div>
                <div class="ml-4 min-w-96">
                    <BrevoMiniForm />
                </div>
            </main>
        </ContentWithBackground>
        <BlogPostPreviewList
            postsLimit={INDEX_PAGE_BLOG_POSTS_LIMIT}
            maxTitleLength={MAX_TITLE_LENGTH}
        />

        <Footer />
        <BrevoScripts />
    </body>
</html>
