---
import { getCollection } from 'astro:content'
import FormattedDate from '../components/FormattedDate.astro'

interface Props {
    postsLimit: number
    maxTitleLength: number
}

const { postsLimit, maxTitleLength } = Astro.props

const posts = (await getCollection('blog'))
    .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
    .slice(0, postsLimit)
---

<section class="md:flex md:flex-col md:items-center md:mx-auto pt-8">
    <div class="max-w-7xl">
        <h2 class="font-fraunces m-0 text-4xl mx-8">
            Check out our recent posts
        </h2>
        <p class="font-atkinson mx-8 mt-4">
            Keep up with our local actions, news, and events for a resilient
            Vancouver!
        </p>
    </div>
    <ul class="m-8 mb-4 max-w-5xl md:grid-cols-4 md:inline-grid">
        {
            posts.map((post) => (
                <li class="mx-2">
                    <a
                        class="flex flex-col justify-center"
                        href={`/blog/${post.slug}/`}
                    >
                        <img
                            class="object-cover min-w-[240px] min-h-[160px] max-w-[240px] max-h-[160px] rounded-md"
                            src={post.data.heroImage}
                            alt={post.data.title}
                        />
                        <h3 class="font-synthese mb-2 text-black pt-3 my-0">
                            {post.data.title.length > maxTitleLength
                                ? `${post.data.title.slice(0, maxTitleLength)}...`
                                : post.data.title}
                        </h3>
                        <p class="font-synthese text-sm pb-8 md:pb-1 text-black">
                            <FormattedDate date={post.data.pubDate} />
                            {' by '}
                            {post.data.author}
                        </p>
                    </a>
                </li>
            ))
        }
    </ul>
    <div class="px-5 w-full max-w-5xl mb-6 text-right md:px-0">
        <a class="font-bold" href="/blog">See more posts →</a>
    </div>
</section>
