---
import type { CollectionEntry } from 'astro:content'
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import FormattedDate from '../components/FormattedDate.astro'

type Props = CollectionEntry<'blog'>['data']

const { title, description, pubDate, updatedDate, heroImage, author } =
    Astro.props
---

<html lang="en">
    <head>
        <BaseHead title={title} description={description} image={heroImage} />
        <style is:global>
            main * ul,
            main * ol {
                list-style: revert;
                margin: revert;
                padding: revert;
                @apply text-lg leading-7;
            }

            main {
                @apply text-base md:text-lg md:leading-7;
            }

            main * a {
                @apply underline hover:text-blue-600;
            }

            main * p {
                @apply text-lg leading-7;
            }

            main * h2 {
                @apply md:text-4xl text-2xl mb-6;
            }

            main * h3 {
                @apply md:text-3xl text-xl mb-4;
            }

            main * blockquote {
                border-left: 6px solid #a7c6ed;
                border-top-left-radius: 1rem;
                border-bottom-left-radius: 1rem;
                padding: 0 1rem;
                margin: 0 20px 20px;
                font-size: 1.3rem;
            }

            blockquote > p {
                @apply md:text-xl md:leading-9 leading-7;
                padding-top: 5px;
                padding-bottom: 5px;
            }
        </style>
    </head>

    <body>
        <Header />
        <main class="max-w-5xl m-0 mx-auto">
            <article>
                <div class="w-full">
                    {
                        heroImage && (
                            <img
                                class="block m-0 mx-auto rounded-xl shadow-md w-full max-w-2xl"
                                src={heroImage}
                                alt={title}
                            />
                        )
                    }
                </div>
                <div class="w-full max-w-[calc(100% - 2em)] m-auto p-4">
                    <div class="mb-12 py-4 px-0 text-center md:text-lg text-sm">
                        <div class="md:flex md:justify-center">
                            <div class="md:mb-2 px-1">
                                Posted on
                                <FormattedDate date={pubDate} />
                            </div>
                            <span class="mb-2 px-1">by {author}</span>
                            {
                                updatedDate && (
                                    <>
                                        <span class="mb-2 px-1 hidden md:block">
                                            |
                                        </span>
                                        <div class="mb-2 px-1">
                                            Last updated on
                                            <FormattedDate date={updatedDate} />
                                        </div>
                                    </>
                                )
                            }
                        </div>
                        <h2 class="font-synthese my-2 md:text-4xl text-3xl">
                            {title}
                        </h2>
                        <span class="font-synthese my-4 text-lg"
                            >{description}</span
                        >
                    </div>
                    <slot />
                </div>
            </article>
        </main>
        <Footer />
    </body>
</html>
